// src/credentials.h.example
// Kopiere diese Datei zu credentials.h und trage deine Daten ein

#pragma once

#define WIFI_SSID     "DeinWLAN"
#define WIFI_PASS     "DeinPasswort"
#define DEVICE_HOST   "EVCC-DisplayLarge"
#define MQTT_USER     "MQTT_USER"
#define MQTT_PASS     "MQTT_PASSWORD"